body {
    padding-top: 65px;
    background: #fff;
}

a {
    color: #43A047;
}

a:hover, a:focus {
    color: #00897B;
}

.navbar-default {
    border-left: none;
    background: #fff;
    border-bottom: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.btn-success {
    background: #86c3aa;
}

.btn-success:hover, .btn-success:focus {
    background: #009688;
}

.logo {
    background-image: url('../images/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-brand .logo {
    width: 100%;
    height: 100%;
}

.sidebar .logo {
    width: 100%;
    height: 150px;
}

.navbar-brand {
    width: 200px;
    height: 67px;
    background-color: #3e454c;
    padding: 3px;
    border-right: 1px solid #565656;
}

.navbar-brand:hover, .navbar-brand:focus {
    background-color: #3e454c !important;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #2c3136;
    border-right: 1px solid #eee;
    width: 200px;
    padding-top: 65px;
}

main {
    margin-left: 200px;
    padding: 15px;

}

.page-header {
    margin: -5px 0 20px;
}

.sidebar-nav {
    font-size: 15px;
}

.sidebar-nav li a {
    color: #fff;
    border-bottom: 1px solid #373d44;
    transition: all 0.3s ease;
}

.sidebar-nav li a:hover, .sidebar-nav li a:focus {
    background: rgba(123, 251, 247, 0.35);
    background: -moz-linear-gradient(45deg, rgba(123, 251, 247, 0.35) 0%, rgba(147, 215, 172, 0.35) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(123, 251, 247, 0.35)), color-stop(100%, rgba(147, 215, 172, 0.35)));
    background: -webkit-linear-gradient(45deg, rgba(123, 251, 247, 0.35) 0%, rgba(147, 215, 172, 0.35) 100%);
    background: -o-linear-gradient(45deg, rgba(123, 251, 247, 0.35) 0%, rgba(147, 215, 172, 0.35) 100%);
    background: -ms-linear-gradient(45deg, rgba(123, 251, 247, 0.35) 0%, rgba(147, 215, 172, 0.35) 100%);
    background: linear-gradient(45deg, rgba(123, 251, 247, 0.35) 0%, rgba(147, 215, 172, 0.35) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bfbf7', endColorstr='#93d7ac', GradientType=1);
    color: #fff;
}

.sidebar-nav li a:hover i, .sidebar-nav li a:focus i {
    color: #bfbfbf;
}

.sidebar-nav li a i {
    margin-right: 10px;
    font-size: 15px;
    color: #585c64;
}

.sidebar-nav li > ul {
    background: #1c1f22;
    display: block;
}

.sidebar-nav li > ul a {
    padding-left: 40px;
}

.sidebar-nav li.active > a {
    background-color: #33383e;
    border-left-width: 3px;
    border-left-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#93d7ac), to(#7bfbf7)) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(#93d7ac, #7bfbf7) 1 100%;
    -moz-border-image: -moz-linear-gradient(#93d7ac, #7bfbf7) 1 100%;
    -o-border-image: -o-linear-gradient(#93d7ac, #7bfbf7) 1 100%;
    border-image: linear-gradient(to bottom, #93d7ac, #7bfbf7) 1 100%;
}

.sidebar-nav li > ul > li.active a {
    background-color: transparent;
}

.sidebar-nav li.collapsed > ul {
    display: none;
}

.sidebar-nav li.collapsed .fa-plus {
    display: block;
}

.sidebar-nav li.collapsed .fa-minus {
    display: none;
}

.sidebar-nav li .fa-plus {
    display: none;
}

.sidebar-nav li .fa-minus {
    display: block;
}

.widget .panel-body {
    height: 200px;
    overflow: auto;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background-color: #f1f1f1;
    background-image: url('../images/profile-placeholder.png');
    background-size: cover;
    background-position: center;
}

.login-box {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    padding: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.login-logo {
    width: 100%;
    height: 80px;
    margin-top: 70px;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.logged-in-user-name {
    width: 100px;
    margin-left: 15px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#logged-in-user .caret {
    margin-top: 14px;
}

.table-flexible > .row {
    border-bottom: 1px solid #aaa;
    padding: 15px;
}

.nav-tabs li.active a {
    font-weight: bold;
}

.dropdown-menu a i {
    margin-right: 10px;
}

#accordion .accordion-toggle-btn i.fa-caret-up {
    transition: all 0.3s;
}

#accordion .accordion-toggle-btn.collapsed i.fa-caret-up {
    transform: rotate(180deg);
}

#accordion .panel {
    margin-bottom: 25px;
}

form .error {
    color: red;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt, dd {
    text-align: left;
    line-height: 1.5;
    min-height:21px;
}

dd {
    margin-left: 0;
}

dt {
    font-weight: bold;
}

@media (min-width: 768px) {
    dd{
        margin-left: 180px;
    }
    dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #86c3aa;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
    background-color: #86c3aa;
}

.bootstrap-datetimepicker-widget .btn-primary {
    background: #86c3aa !important;
}

.attendance-radio .btn:not(.active){
    color: #3276b1;
    background-color: #fff !important;
}

.time-entry{
    font-size: 10px;
    min-height: 62px !important;
    height: auto !important;
}

.timetable aside li, .timetable time li {
    min-height: 62px !important;
}

a.module-item{
    display: block;
    text-decoration: none;
    transition:all 0.3s ease;
    color:#2c3136;
}

a.module-item:hover{
    margin-top: -5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    color:#00897B;
}

.announcements-container{
    padding-left:15px;
    padding-right: 15px;
}

.announcements-container .well.active{
    background-color: #fcfce4;
}

.attendance-radio a:nth-child(2).active{
    background:#d42323 !important;
}
.attendance-radio a:nth-child(3).active{
    background:#ead30e !important;
    color:#000;
}


@keyframes highlight {
    from {background-color: #93d7ac;}
    to {background-color: white;}
}

.animate-highlight{
    animation-name: highlight;
    animation-duration: 0.5s;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background: rgba(123, 251, 247, 0.35);
    background: -moz-linear-gradient(45deg, rgba(123, 251, 247, 0.35) 0%, rgba(147, 215, 172, 0.35) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(123, 251, 247, 0.35)), color-stop(100%, rgba(147, 215, 172, 0.35)));
    background: -webkit-linear-gradient(45deg, rgba(123, 251, 247, 0.35) 0%, rgba(147, 215, 172, 0.35) 100%);
    background: -o-linear-gradient(45deg, rgba(123, 251, 247, 0.35) 0%, rgba(147, 215, 172, 0.35) 100%);
    background: -ms-linear-gradient(45deg, rgba(123, 251, 247, 0.35) 0%, rgba(147, 215, 172, 0.35) 100%);
    background: linear-gradient(45deg, rgba(123, 251, 247, 0.35) 0%, rgba(147, 215, 172, 0.35) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bfbf7', endColorstr='#93d7ac', GradientType=1);
    color: #000;
}

@media print {
    body{
        -webkit-print-color-adjust: exact;
    }
    .timetable{
        border:1px solid #000;
    }
    .timetable ul.room-timeline li:not(:last-of-type) {
        border-bottom: 1px solid #000;
    }
    .timetable aside {
        border-right: 1px solid #000;
    }
    .timetable aside li:first-of-type {
        border-top: 1px solid #000;
    }
    .timetable aside li:not(:last-of-type) {
        border-bottom: 1px solid #000;
    }
    .timetable section {
        overflow-x: hidden;
    }


    .timetable ul.room-timeline li::after {
        background-image: linear-gradient(to right,#E5E5E5,#000000 1px,#F4F4F4 1px,#F4F4F4 2px,#E5E5E5 2px,#E5E5E5 3px,transparent 3px,transparent) !important;
        background-size: 97px auto;
        background-position: -2px 0;
        -webkit-print-color-adjust: exact;
    }

    .timetable ul.room-timeline li::after, .timetable ul.room-timeline li::before {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        -webkit-print-color-adjust: exact;
    }

    .time-entry{
        background-color: #93d7ac !important;
        color: #000 !important;
        -webkit-print-color-adjust: exact;
    }

    .timetable ul.room-timeline li::after {
        background-image: linear-gradient(to right,#E5E5E5,#000000 1px,#F4F4F4 1px,#F4F4F4 2px,#E5E5E5 2px,#E5E5E5 3px,transparent 3px,transparent) !important;
        background-size: 97px auto;
        background-position: -2px 0;
        -webkit-print-color-adjust: exact;
    }

}

@page {
    margin: 0.5cm;
}

.time-entry{
    background-color: #93d7ac !important;
    color: #000 !important;
    -webkit-print-color-adjust: exact;
}

.time-entry:hover{
    background-color: #00897B !important;
    color:#fff !important;
}